{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a href="#"><img src="{% static 'img/logo.png' %}" alt="logimage" height="50px"></a>
    <a class="navbar-brand" href="#">JCDA Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}
        <li> Welcome {{user.username}} </li>
        <li class="nav-item">
          <a class="nav-link" href="credentials/logout">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="credentials/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="credentials/login">Login</a>
        </li>

        {% endif %}

        <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Branches
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button"><a href="https://www.wikipedia.com">TVPM</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="https://www.wikipedia.com">Ernakulam</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="https://www.wikipedia.com">Kollam</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="https://www.wikipedia.com">Kozhikode</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="https://www.wikipedia.com">Kannur</a></button></li>


     <li><button class="dropdown-item" type="button"><a href="https://www.wikipedia.com">Palakkad</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="https://www.wikipedia.com">Alapuzha</a></button></li>



  </ul>
</div>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div>
  <img src="{% static 'img/JCDA.png' %}" alt="banner image" height="300" width="1520" padding="5px;">
</div>
{% block body %}
{% endblock %}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
</body>
</html>